/*
* Craftgate 
* Payment Gateway
* Order css for checkout page
* 12 Mar 2021 
**/
[class="wc_payment_method payment_method_craftgate_gateway"] img {
    float: none !important;
    margin: 1rem 0 0;
    display: block;
    max-height: 32px !important;
}

.craftgate-alert {
    text-align: center;
    padding: 1rem;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

#craftgate_payment_form {
    /*height:calc(100vh + 100px)*/
    height: 858px;
}

#craftgate_payment_form iframe {
    border: 0;
    width: 100%;
    height: 100%;
}

.craftgate-card-brands-icon{
    height: 40px !important;
}